.material-icons {
  font-size: 36px;
  color: #37A11A;
}

.title-edit-personal {
  color: black;
  font-size: 16pt;
  text-align: center;
  font-weight: 500;
  font-family: Montserrat, SemiBold !important;
  padding-right: 30px;
}

.edit-profile-icon {
  color: #37A11A;
  font-size: 24px;
  padding-right: 20px;
}

.edit-profile-password {
  padding-left: 20px;
}

.edit-profile-label {
  font-family: Montserrat, SemiBold !important;
}

.selected {
  background-color: #37A11A;
  color: white;
}

.mat-button-toggle {
  font-family: Montserrat, SemiBold !important;
}

.edit-profile-field-total {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #37A11A !important;
}

.update-button {
  background-color: #37A11A;
  color: white;
  font-size: 13pt;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: Montserrat, SemiBold !important;
}

::ng-deep .mat-form-field-prefix {
  height: 50px;
  width: 50px;
  background-color: #37A11A;
  margin: auto;
  left: -10px;
  display:flex;
  align-items:center;
  justify-content:center;
  top: 0.20em !important;
}

::ng-deep .mat-form-field-prefix img {
  width: 25px;
  height: 25px;
}

input {
  font-family: Montserrat, SemiBold !important;
}

.green-chip {
  background-color: #37A11A !important;
  border-radius: 5px !important;
  color: white !important;
}
