<mat-card class="p-0">
    <div class="page-card-header d-flex justify-content-between">
        <mat-icon (click)="navigateBack()" [inline]="true">keyboard_arrow_left</mat-icon>
        <span class="flex-1 title-edit-personal">{{ 'profile.editPersonal.createPassword' | translate }}</span>
    </div>
    <form [formGroup]="editFormGeralGroup" class="pr-lg-5 pl-lg-5 pt-lg-5">
      <mat-form-field class="edit-profile-field-total"  appearance="outline">
        <mat-label class="edit-profile-label">{{ 'profile.editPersonal.field_old_password' | translate }}</mat-label>
        <mat-icon matPrefix class="edit-profile-icon">lock</mat-icon>
        <input autocomplete="off" value="" matInput type="password" placeholder="{{ 'profile.editPersonal.field_old_password' | translate }}" formControlName="oldPassword">
      </mat-form-field>
      <mat-form-field class="edit-profile-field-total"  appearance="outline">
        <mat-label class="edit-profile-label">{{ 'profile.editPersonal.field_password' | translate }}</mat-label>
        <mat-icon matPrefix class="edit-profile-icon">lock</mat-icon>
        <input autocomplete="off" value="" matInput type="password" placeholder="{{ 'profile.editPersonal.field_password' | translate }}" formControlName="password">
      </mat-form-field>
      <mat-form-field class="edit-profile-field-total" appearance="outline"  >
        <mat-label class="edit-profile-label">{{ 'profile.editPersonal.field_confirm_password' | translate }}</mat-label>
        <mat-icon matPrefix class="edit-profile-icon">lock</mat-icon>
        <input autocomplete="off" value="" matInput type="password" placeholder="{{ 'profile.editPersonal.field_confirm_password' | translate }}" formControlName="confirmPassword">
      </mat-form-field>

    </form>
    <div class="pl-lg-5 pr-lg-5 w-100">
        <button  (click)="reset()" [disabled]="editFormGeralGroup.invalid || !editFormGeralGroup.value.oldPassword || !editFormGeralGroup.value.password || !editFormGeralGroup.value.confirmPassword    " class="update-button" mat-raised-button>{{ 'profile.editPersonal.save' | translate }}</button>

    </div>

    <mat-card>

