.login-twitter-validate {
    padding-top: 50px;
}

.green-spinner {
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #37A11A !important;
}