<section class="aboutus center-content">
    <img class="aboutus-img" src="../../assets/img/aboutus.png"/>
    <h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-title">{{ 'global.about_us' | translate }}</h3>
    <h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph1' | translate }}</h3>
    <h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph2' | translate }}</h3>
    <h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph3' | translate }}</h3>
    <h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph4' | translate }}</h3>
    <h3  [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph5' | translate }}</h3>
    <ul [dir] = "(this.storageService.getLanguage()==='ar') ? 'rtl' : 'ltr'" >
        <li><h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph7' | translate }}</h3></li>
        <li><h3  [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph8' | translate }}</h3></li>
        <li><h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph9' | translate }}</h3></li>
        <li><h3 [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }" class="aboutus-description">{{ 'about_us.paragraph10' | translate }}</h3></li>
        <li><h3   [ngStyle]="{'text-align':(this.storageService.getLanguage()==='ar') ? 'right' : 'left' }"  class="aboutus-description">{{ 'about_us.paragraph11' | translate }}</h3></li>
    </ul>
    <h3 class="aboutus-twitter">{{ 'about_us.twitter' | translate }}</h3>
    <a href="https://www.twitter.com/IMATECOrocks " target="_blank">
        <img class="twitter-link" src="../../assets/img/002-twitter.png" />
    </a>
    <app-footer></app-footer>
</section>
