.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #37a11a;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #37a11a;
    border-color:  #37a11a;
}
